VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_SUPABASE_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxx

# Unlayer drag-and-drop email editor
VITE_UNLAYER_PROJECT_ID=xxxxxx
VITE_UNLAYER_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx